<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>17/05/21 11:22:57</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.close()[pri:0, instance:com.testscript.LoginTest@1d057a39]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>17/05/21 11:22:07</td>   <td>-50517</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.testscript.LoginTest@1d057a39]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>17/05/21 11:22:28</td>   <td>-28606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.vetifylogin()[pri:0, instance:com.testscript.LoginTest@1d057a39]">vetifylogin</td> 
  <td>main@1471868639</td>   <td></td> </tr>
</table>
