<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>17/05/28 13:22:42</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.close()[pri:0, instance:com.testscript.LoginTest@39c0f4a]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/05/28 13:20:53</td>   <td>-109291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.object()[pri:0, instance:com.testscript.LoginTest@39c0f4a]">&gt;&gt;object</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/05/28 13:20:25</td>   <td>-137190</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.testscript.LoginTest@39c0f4a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/05/28 13:20:11</td>   <td>-150609</td> <td title="&gt;&gt;BaseClass.startserver()[pri:0, instance:com.testscript.LoginTest@39c0f4a]">&gt;&gt;startserver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/05/28 13:22:45</td>   <td>3123</td> <td title="&lt;&lt;BaseClass.stopserver()[pri:0, instance:com.testscript.LoginTest@39c0f4a]">&lt;&lt;stopserver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/05/28 13:20:53</td>   <td>-109057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.vetifylogin()[pri:1, instance:com.testscript.LoginTest@39c0f4a]">vetifylogin</td> 
  <td>main@13329486</td>   <td></td> </tr>
</table>
